body{
	margin: 80px 0;
	background: #5EAECC;
	color: #06688E;
}
.container{
	width: 800px;
	margin: 0 auto;
}
.header{
	color:#012533;
}
.game-intro{
	margin-top: 0;
	font-size: 18px;
	color: #06688E;
}

#c{
	cursor: url(../image/crowbar.cur), pointer;
	background-image:  url(../image/wall.jpg);
	border: 1px solid black;
}
#c:active{
	cursor: url(../image/crowbar_active.cur),pointer;
}
.game-explantion{
	margin-top: 60px;
	font-size: 18px;
}
.important{
	color: #012533;
	font-size: 18px;
}