body{
	margin-top: 80px;	
	color: #06688E;
	background:  url(../image/wallTexture.jpg) center center no-repeat;
}
.container{
	width: 800px;
	margin: 0 auto;
}
.header{
	color:#012533;
	height: 120px;
}
.game-intro{
	margin-top: 0px;
	font-size: 18px;

}

#c{
	cursor: url(../image/crowbar.cur), pointer;
	/*width: 800px;
	height: 1000px;	*/
}
#c:active{
	cursor: url(../image/crowbar_active.cur),pointer;
}

.explantion-container{
	width: 600px;
	
	margin: 30px auto 0px;
	height: 480px;
	background:  url(../image/sign.png);
	padding: 1px;
}	

.game-explantion{
	
	height: 280px;
	width: 500px;
	font-size: 26px;
	margin: 80px auto;
	color: #ecea45;
	
}
.important{
	color: #dbd945;
	font-size: 30px;
}


